* {
  margin: 0%;
  padding: 0%;
}
body{
  padding: 5px;
}
hr {
  border-color: #A51C24;
  color: #A51C24;
  background-color: #A51C24;
}
.navbar-header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 6vh;
  text-align: center;
  align-items: center;
}
.navbar-header h2 {
  text-align: center;
}
.navbar-header img {
  margin-left: 10px;
  width: 100px;
}
.navbar-header p {
  font-weight: bold;
  margin-right: 20px;
}
.nav {
  background-color: #A51C24;
  display: flex;
  width: 100%;
  height: 6.5vh;
  margin-bottom: 5px;
  justify-content: space-between;
  align-items: center;
}
.nav .nav-logo {
    color: white;
    width: 120px;
    height: 6.5vh;
    background-color: #337ab7;
    shape-outside: polygon(0 0, 50% 0%, 90% 50%, 50% 100%, 0 100%);
    clip-path: polygon(0 0, 60% 0%, 85% 60%, 60% 100%, 0 100%);
    shape-margin: 10px;
    font-size: 20px;
    font-family: 'Caveat', cursive;
}
.nav .nav-logo p {
  margin-left: 10px;
  margin-top: 10px;
}
.nav .logout {
  display: flex;
  color: white;
}
.nav a {
  margin-left: 2px;
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-family: 'Caveat', cursive;
}
.nav-body-conatiner {
  display: flex;
  height: 85vh;
  width: 100%;
}
.nav-left-container {
  display: flex;
  flex-direction: column;
  width: 16vw;
  height: 100%;
  border: black solid 1px;
  padding: 2px;
}
.nav-left-container a {
  text-decoration: none;
}
.nav-left-container a .nav-left-links {
  display: flex;
  width: 100%;
  height: 5vh;
  margin-top: 1px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: #3a454b;
  align-items: center;
}
.nav-left-links i {
  margin-left: 15px;
  margin-right: 5px;
}
.nav-left-links p {
  font-size: 12px;
}
.nav-left-container a .nav-left-links:hover {
  background-color: #337ab7;
}
.nav-right-conatiner {
  width: 84vw;
  height: 100%;
  padding: 3px;
}