* {
    margin: 0%;
    padding: 0%;
}
.body-conatiner {
    width: 100%;
    height: 100%;
    position: relative;
}
.navbar {
    background-color: #A51C24;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
.navbar a{
    text-decoration: none;
    color: white;
    display: flex;
}
.navbar i {
    margin-right: 5px;
}
.img-container {
    width: 100%;
    height: 92vh;
}
.img-container img {
    width: 100%;
    height: 100%;
}
.footer {
    width: 100%;
    height: 3vh;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #A51C24;
    color: white;
}
.login-container {
    top: 0;
    left: 0;
    position: absolute;
    display: none;
    width: 100vw;
    height: 100vh;
    justify-content: center
}
.login-container .login-header {
    width: 25vw;
    height: 70vh;
}
.login-header .logo-container {
    width: 100%;
    height: 6vh;
    background-color: #A51C24;
    margin-top: 5vh;
    display: flex;
    position: relative;
    justify-content: center;
}
.logo-container .login-close {
    position: absolute;
    right: 5px;
    color: aliceblue;
    cursor: pointer;
}
.logo-container .logo-img-container {
    width: 60px;
    height: 60px;
    background-color: #A51C24;
    border-radius: 50%;
    margin-top: -4vh;
    padding: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo-container img {
    width: 55px;
    height: 55px;
}
.login-body {
    width: 20vw;
    height: 50vh;
    padding: 3vh 2.5vw;
    background-color: white;
}
.login-body input {
    width: 19vw;
    height: 3vh;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 5px;
    border-color: green;
    padding: 2%;
}
.login-body p {
    color: green;
}
#forgot {
    color: rgb(51, 122, 183);
    cursor: pointer;
}
.login-body button{
    width: 20vw;
    height: 5vh;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(51, 122, 183);
    border-color: rgb(46, 109, 164);
    cursor: pointer;
}
.login-body button:hover{
    background-color: rgb(51, 122, 183, 0.9);
}

.login-header .footer {
    width: 25vw;
    height: 5vh;
    text-align: center;
    background-color: #A51C24;
}