{% load static %}
{% load bootstrap_icons %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login</title>
        <link rel="stylesheet" href="{% static 'login.css' %}">
    </head>
    <body>
        <div class="body-conatiner">
            <div class="navbar">
                <a href="#" onclick="login('open')">
                    <i>
                        {% bs_icon 'person-rolodex' size='1.2em' %}
                    </i>
                    <h3>Login</h3>
                </a>
            </div>
            <div class="img-container">
                <img src="{% static 'images/klu.gif' %}" alt="klu" >
            </div>
            <div class="footer">
                <p>© Copyright 2021 by KLU PP . All Rights Reserved.</p>
            </div>
            <div class="login-container">
               <div class="login-header">
                    <div class="logo-container">
                        <div class="logo-img-container">
                            <img src="{% static 'images/smalllogo.png' %}" alt="klu" >
                        </div>
                        <div class="login-close" onclick="login('close')">
                            &#10060;
                        </div>
                    </div>
                    <div class="login-body">
                        <form method="post", action="/">
                            {% csrf_token %}
                            <p>Username</p>
                            <input type="text" name="username" id="username">
                            <br>
                            <p>Password</p>
                            <input type="password" name="password" id="password">
                            <br>
                            {% if messages %}
                              {% for message in messages %}
                                 {% if message.tags == 'error' %}
                                  <div style="height: 40px;width: 320px;color: darkred">
                                    <strong>{{message}}</strong>
                                  </div>
                                 {% endif %}
                              {% endfor %}
                            {% endif %}
                            <p id="forgot">Forgot your password?</p>
                            <br>
                            <br>
                            <button type="submit">Login</button>
                        </form>
                    </div>
                    <div class="footer">
                        <p>© Copyright 2019 by K L Deemed to be University.</p>
                    </div>
               </div>
            </div>
        </div>
        
        
        <script>
            function login(att) {
                if( att == 'open' ) {
                    document.getElementsByClassName('login-container')[0].style.display = 'flex';
                }
                else {
                    document.getElementsByClassName('login-container')[0].style.display = 'none';
                }
                
            }
        </script>
    </body>
</html>