{% extends 'dashboard.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'studentlist.css' %}">
{% endblock css %}
{% block content %}
<div class="sl-conatiner">
    <div class="sl-title">
        <p>Student List</p>
    </div>
    <div class="sl-student-list">
        <table>
            <tr>
                <th id="sno">#</th>
                <th id="id">Rollno</th>
                <th id="name">Name</th>
            </tr>
            {% for k in data %}
                {% if forloop.first %}
                    {% for i in k %}
                        <tr>
                            <td id="sno"><p>{{ forloop.counter }}</p></td>
                            <td id="id"><p>{{ i.student_username }}</p></td>
                            <td id="name"><p>{{ i.student_name }}</p></td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}