{% extends 'dashboard.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'uploadmarks.css' %}">
{% endblock css %}
{% block content %}
<div class="um-conatiner">
    <div class="um-title">
         <p>Section-1 Sem in-1 marks upload </p>
    </div>
    <div class="um-student-list">
        <form method="post" action="">
            {% csrf_token %}
            <table>
                <tr>
                    <th id="sno">#</th>
                    <th id="id">Rollno</th>
                    <th id="name">Name</th>
                    <th id="checkbox">MARKS</th>
                </tr>
                {% for i in data %}
                <tr>
                    <td id="sno"><p>{{ forloop.counter }}</p></td>
                    <td id="id"><p>{{ i.student_username }}</p></td>
                    <td id="name"><p>{{ i.student_name }}</p></td>
                    <td id="text"><input type="text" name="checks[]" value="{{ i.marks }}"></td>
                </tr>
                {% endfor %}
            </table>
            <div class="um-form-btn">
                <button type="submit" style="background-color: rgb(105, 169, 243);">Save</button>
                <button>Cancle</button>
                <button  type="reset">Reset</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}