{% extends 'dashboard.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'uploadmarks.css' %}">
{% endblock css %}
{% block content %}
<div class="um-conatiner">
    <div class="um-title">
         <p>Section-1 Sem in-1 marks upload </p>
    </div>
    <div class="um-student-list">
        <form>
            <table>
                <tr>
                    <th id="sno">#</th>
                    <th id="id">Rollno</th>
                    <th id="name">Name</th>
                    <th id="checkbox">MARKS</th>
                </tr>
                <tr>
                    <td id="sno"><p>1</p></td>
                    <td id="id"><p>2000031797</p></td>
                    <td id="name"><p>Nanda Kumar K</p></td>
                    <td id="text"><input type="text" name="id"></td>
                </tr>
                <tr>
                    <td id="sno"><p>1</p></td>
                    <td id="id"><p>2000031797</p></td>
                    <td id="name"><p>Nanda Kumar K</p></td>
                    <td id="text"><input type="text" name="id"></td>
                </tr>
                <tr>
                    <td id="sno"><p>1</p></td>
                    <td id="id"><p>2000031797</p></td>
                    <td id="name"><p>Nanda Kumar K</p></td>
                    <td id="text"><input type="text" name="id"></td>
                </tr>
            </table>
            <div class="um-form-btn">
                <button type="submit" style="background-color: rgb(105, 169, 243);">Save</button>
                <button>Cancle</button>
                <button  type="reset">Reset</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}